In [1]:
# install geopandas package
! pip install --user pandas
! pip install --user sqlalchemy
! pip install --user geopandas
! pip install --user Flask-sqlalchemy
! pip install --user sqlalchemy_utils

Requirement already satisfied: pandas in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (1.2.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (1.4.21)
Requirement already satisfied: greenlet!=0.4.17 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.1.0)
Requirement already satisfied: geopandas in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.20)
Requirement already satisfied: shapely>=1.6 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.0)
Requirement already satisfied: pandas>=0.25.0 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.2.5)
Requirement already satisfied: pyproj>=2.2.0 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (3.3.0)
Requirement already satisfied: cligj>=0.5 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (44.0.0)
Requirement already satisfied: certifi in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: munch in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (8.0.1)
Requirement already satisfied: attrs>=17 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (1.20.3)
Requirement already satisfied: Flask-sqlalchemy in /Users/marcuscorreia/.local/lib/python3.8/site-packages (2.5.1)
Requirement already satisfied: Flask>=0.10 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Flask-sqlalchemy) (1.1.2)
Requirement already satisfied: SQLAlchemy>=0.8.0 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Flask-sqlalchemy) (1.4.21)
Requirement already satisfied: itsdangerous>=0.24 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.10->Flask-sqlalchemy) (2.0.1)
Requirement already satisfied: click>=5.1 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.10->Flask-sqlalchemy) (8.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.10->Flask-sqlalchemy) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.10->Flask-sqlalchemy) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from Jinja2>=2.10.1->Flask>=0.10->Flask-sqlalchemy) (1.1.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from SQLAlchemy>=0.8.0->Flask-sqlalchemy) (1.1.0)
Requirement already satisfied: sqlalchemy_utils in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (0.37.9)
Requirement already satisfied: six in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy_utils) (1.16.0)
Requirement already satisfied: SQLAlchemy>=1.0 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy_utils) (1.4.21)
Requirement already satisfied: greenlet!=0.4.17 in /Users/marcuscorreia/opt/anaconda3/lib/python3.8/site-packages (from SQLAlchemy>=1.0->sqlalchemy_utils) (1.1.0)

In [2]:
# import packages
import pandas as pd
import geopandas as gpd
from config import password
from sqlalchemy import create_engine

In [3]:
# read in csv file
path = "Data/PopulationByAgeSex.csv"
populations = pd.read_csv(path)

In [4]:
# look at data
populations.head()

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,...,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
0,1,4,Afghanistan,1950,630.044,661.578,1291.622,516.206,487.335,1003.541,...,0.004,0.003,0.007,0.0,0.0,0.0,4099.243,3652.874,7752.117,1
1,2,4,Afghanistan,1951,641.199,673.293,1314.492,525.302,502.402,1027.704,...,0.007,0.005,0.012,0.0,0.0,0.0,4134.756,3705.395,7840.151,1
2,3,4,Afghanistan,1952,650.825,669.274,1320.099,533.097,521.672,1054.769,...,0.012,0.009,0.021,0.0,0.0,0.0,4174.450,3761.546,7935.996,1
3,4,4,Afghanistan,1953,659.896,663.606,1323.502,538.351,541.216,1079.567,...,0.015,0.013,0.028,0.0,0.0,0.0,4218.336,3821.348,8039.684,1
4,5,4,Afghanistan,1954,670.694,663.295,1333.989,540.820,557.196,1098.016,...,0.014,0.011,0.025,0.0,0.0,0.0,4266.484,3884.832,8151.316,1

In [5]:
# read geojson file as a geopandas dataframe
df = gpd.read_file("Data/countries.geojson")

In [6]:
# check common countries
geoCountries = df["ADMIN"]
geoCountries

0             Aruba
1       Afghanistan
2            Angola
3          Anguilla
4           Albania
           ...
250           Samoa
251           Yemen
252    South Africa
253          Zambia
254        Zimbabwe
Name: ADMIN, Length: 255, dtype: object

In [7]:
# Replace Russian Federation with Russia
populations["Location"]= populations["Location"].replace("Russian Federation","Russia")

In [8]:
populations[populations["Location"]=="Russia"]

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,...,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
48169,48170,643,Russia,1950,5650.418,5457.850,11108.268,3481.813,3448.536,6930.349,...,3.808,11.574,15.382,1.454,4.585,6.039,44575.785,58222.864,102798.649,1
48170,48171,643,Russia,1951,6459.676,6226.909,12686.585,3225.686,3210.204,6435.890,...,3.445,10.580,14.025,1.172,3.753,4.925,45398.672,58906.026,104304.698,1
48171,48172,643,Russia,1952,6625.708,6379.796,13005.504,3411.304,3377.305,6788.609,...,3.392,10.394,13.786,0.951,3.100,4.051,46295.163,59671.924,105967.087,1
48172,48173,643,Russia,1953,6586.108,6341.065,12927.173,3997.514,3920.981,7918.495,...,3.318,10.222,13.540,0.769,2.566,3.335,47236.274,60491.036,107727.310,1
48173,48174,643,Russia,1954,6522.420,6284.242,12806.662,4776.099,4649.835,9425.934,...,2.916,9.262,12.178,0.619,2.130,2.749,48198.106,61338.398,109536.504,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48315,48316,643,Russia,2096,3406.876,3231.658,6638.534,3526.275,3345.508,6871.783,...,213.060,441.962,655.022,59.806,161.414,221.220,61931.719,64534.234,126465.953,1
48316,48317,643,Russia,2097,3391.969,3217.957,6609.926,3502.208,3323.125,6825.333,...,231.771,467.347,699.118,58.333,155.390,213.723,61919.516,64483.697,126403.213,1
48317,48318,643,Russia,2098,3380.798,3207.374,6588.172,3477.595,3299.673,6777.268,...,251.061,497.164,748.225,57.093,150.281,207.374,61901.863,64427.843,126329.706,1
48318,48319,643,Russia,2099,3373.631,3200.190,6573.821,3453.555,3276.346,6729.901,...,260.620,515.464,776.084,56.076,146.119,202.195,61878.464,64365.105,126243.569,1
48319,48320,643,Russia,2100,3371.054,3196.908,6567.962,3431.129,3254.201,6685.330,...,254.132,512.567,766.699,55.198,142.722,197.920,61848.945,64293.706,126142.651,1

In [9]:
# merge on countries that appear in geojson file and csv files
merged_pop = populations.merge(df["ADMIN"],how = "inner",left_on ="Location",right_on = "ADMIN")

In [10]:
# see how many countries are shared
merged_pop["Location"].unique().shape

(170,)

In [11]:
# drop unwanted columns
wanted_columns = ["Id","LocID","Location","Time","PopMale","PopFemale","PopTotal"]
clean_pop = merged_pop
for column in merged_pop.columns:
    if column not in wanted_columns:
        clean_pop = clean_pop.drop(column,axis =1)
clean_pop.head()

   Id  LocID     Location  Time   PopMale  PopFemale  PopTotal
0   1      4  Afghanistan  1950  4099.243   3652.874  7752.117
1   2      4  Afghanistan  1951  4134.756   3705.395  7840.151
2   3      4  Afghanistan  1952  4174.450   3761.546  7935.996
3   4      4  Afghanistan  1953  4218.336   3821.348  8039.684
4   5      4  Afghanistan  1954  4266.484   3884.832  8151.316

In [12]:
# write to csv
clean_pop.to_csv("Data/clean_populations.csv")

In [13]:
# wrtie to a json file
clean_pop.to_json("Data/clean_populations.json",orient = "records")

In [15]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432')
conn = engine.connect()
conn.execute("commit")
conn.execute("create database populations")

In [16]:
# create table in database
clean_pop.to_sql(name="population", con = engine,if_exists = "append", index = False )
engine.table_names()

/var/folders/fb/n2345hrx7yb3xtc12f0ykjzr0000gn/T/ipykernel_31911/486092316.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['population']

In [17]:
#Read from postgresql
query="select *  from population "
query_df=pd.read_sql_query(query,engine)
query_df

          Id  LocID     Location  Time    PopMale  PopFemale   PopTotal
0          1      4  Afghanistan  1950   4099.243   3652.874   7752.117
1          2      4  Afghanistan  1951   4134.756   3705.395   7840.151
2          3      4  Afghanistan  1952   4174.450   3761.546   7935.996
3          4      4  Afghanistan  1953   4218.336   3821.348   8039.684
4          5      4  Afghanistan  1954   4266.484   3884.832   8151.316
...      ...    ...          ...   ...        ...        ...        ...
77005  66889    716     Zimbabwe  2096  15008.463  15932.316  30940.779
77006  66890    716     Zimbabwe  2097  15008.822  15943.386  30952.208
77007  66891    716     Zimbabwe  2098  15007.570  15952.241  30959.811
77008  66892    716     Zimbabwe  2099  15004.963  15959.089  30964.052
77009  66893    716     Zimbabwe  2100  15001.252  15964.169  30965.421

[77010 rows x 7 columns]

In [ ]:
# test another way
postgresdata=engine.execute("select *  from population").fetchall()
postgresdata

In [ ]:
conn.close()