In [2]:
import pandas as pd

In [3]:
path = "Data/PopulationByAgeSex.csv"
populations = pd.read_csv(path)

In [4]:
populations.head()

,Id,LocID,Location,Time,PopMale_0_4,PopFemale_0_4,PopTotal_0_4,PopMale_5_9,PopFemale_5_9,PopTotal_5_9,...,PopMale_95_99,PopFemale_95_99,PopTotal_95_99,PopMale_100Plus,PopFemale_100Plus,PopTotal_100Plus,PopMale,PopFemale,PopTotal,YearDataCompleted
0,1,4,Afghanistan,1950,630.044,661.578,1291.622,516.206,487.335,1003.541,...,0.004,0.003,0.007,0.0,0.0,0.0,4099.243,3652.874,7752.117,1
1,2,4,Afghanistan,1951,641.199,673.293,1314.492,525.302,502.402,1027.704,...,0.007,0.005,0.012,0.0,0.0,0.0,4134.756,3705.395,7840.151,1
2,3,4,Afghanistan,1952,650.825,669.274,1320.099,533.097,521.672,1054.769,...,0.012,0.009,0.021,0.0,0.0,0.0,4174.450,3761.546,7935.996,1
3,4,4,Afghanistan,1953,659.896,663.606,1323.502,538.351,541.216,1079.567,...,0.015,0.013,0.028,0.0,0.0,0.0,4218.336,3821.348,8039.684,1
4,5,4,Afghanistan,1954,670.694,663.295,1333.989,540.820,557.196,1098.016,...,0.014,0.011,0.025,0.0,0.0,0.0,4266.484,3884.832,8151.316,1

In [5]:
populations.to_json("Data/populations.json",orient = "records")